@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Stint+Ultra+Expanded&display=swap');

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  color: white;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    top: 60px;
  } 100% {
    opacity: 1;
    top
  }
}

.header-animation {
  animation: headerAnimation 1s ease-in;
}